@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/jsHome/jsRegistro.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}


<div class="card" style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:dimgray">




          <div class="col-md-3 text-md-right">
                <label class="control-label">¿Cuantas Personas Permanecen Bajo su Cargo y Habitan con Ud?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="cuantaspersonasviven" name="cuantaspersonansviven" class="form form-control" />
             </div>


           <div class="col-md-3 text-md-right">
                <label class="control-label">¿Los Niños y Adolescentes en Edad Escolar Estudian?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="losniñosestudian" name="losniñosestudian" class="form form-control" />
             </div>

           <div class="col-md-3 text-md-right">
                <label class="control-label">Familia</label>
          </div>

          <div class="col-md-3 text-md-right">
                <label class="control-label">Niños 0-12 Años</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="niños" name="niños" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">adolescente</label>
          </div>

             <div class="col-md-8">
                <input type="text" id="numerodocument" name="numerodocument" class="form form-control" />
             </div>

              <div class="col-md-3 text-md-right">
                <label class="control-label">Poseen Documento</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="parentesco" name="parentesco" class="form form-control" />
             </div>


          <div class="col-md-3 text-md-right">
                <label class="control-label">Estudian?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="edad" name="edad" class="form form-control" />
             </div>


 <div class="col-md-3 text-md-right">
                <label class="control-label">Trabajan?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="edad" name="edad" class="form form-control" />
             </div>


              <div class="col-md-3 text-md-right">
                <label class="control-label">Realizan Alguna Actividad Cultural</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="edad" name="edad" class="form form-control" />
             </div>

              <div class="form-group row col-md-8">
                 
                      <div class="col-md-3 text-md-left" style="">
                        <label class="control-label"></label>
                      </div>
                      <div class="col-md-5">
                         <input type="text" id="edad" name="edad" class="form form-control" />
                       </div>
                  
                
               
                      <div class="col-md-3 text-md-right" style="">
                        <label class="control-label"></label>
                      </div>
                      <div class="col-md-5">
                         <input type="text" id="edad" name="edad" class="form form-control" />
                       </div>
                 
            </div>











        </div>
    </div> 
</div>

