@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/jsHome/jsCorredorHumanitario.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
<div class="card" style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:dimgray">
</div>
   </div>
       </div>

       <div class="col-md-3 text-md-right">
                    <label class="control-label">Urbanización/Barrio/Sector/Conjunto</label>
      </div>
            <div class="col-md-8">
                 <input type="text" id="urbanización" name="urbanización" class="form form-control" />
           </div>

     <div class="col-md-3 text-md-right">
                    <label class="control-label">Avenida/Calle/vereda/manzana</label>
      </div>
            <div class="col-md-8">
                 <input type="text" id="avenida" name="avenida" class="form form-control" />
           </div>

     <div class="col-md-3 text-md-right">
                    <label class="control-label">Edificio/Casa</label>
      </div>
            <div class="col-md-8">
                 <input type="text" id="edificio_casa" name="edificio_casa" class="form form-control" />
           </div>

      <div class="col-md-3 text-md-right">
                    <label class="control-label">Piso</label>
      </div>
            <div class="col-md-8">
                 <input type="text" id="piso" name="piso" class="form form-control" />
           </div>

     <div class="col-md-3 text-md-right">
                    <label class="control-label">Apartamento N°</label>
      </div>
            <div class="col-md-8">
                 <input type="text" id="apartamentoN" name="apartamentoN" class="form form-control" />
           </div>

      <div class="col-md-3 text-md-right">
                    <label class="control-label">Punto de Referencia</label>
      </div>
            <div class="col-md-8">
                 <input type="text" id="referencia" name="referencia" class="form form-control" />
           </div>

        <div class="col-md-3 text-md-right">
                    <label class="control-label">Telefono</label>
        </div>
                <div class="col-md-8">
                    <input type="text" id="telefono" name="telefono" class="form form-control" />
                </div>

     <div class="col-md-3 text-md-right">
                    <label class="control-label">Telefono Alternativo</label>
     </div>
             <div class="col-md-8">
                  <input type="text" id="telefono.alternativo" name="telefono.alternativo" class="form form-control" />
            </div>

     <div class="col-md-3 text-md-right">
                    <label class="control-label">Correo Electronico</label>
     </div>
            <div class="col-md-8">
                <input type="text" id="correo" name="correo" class="form form-control" />
           </div>