@{
   Layout = "~/Views/Shared/_LayoutNew.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/jsHome/jsRegistro.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

<script>
    var urlPaises = '@Url.Action("GetPaises","Home")';
    var urlCiudadesPais = '@Url.Action("GetCiudadesPais","Home")';
    var urlCrearDatosPrincipalesRG = '@Url.Action("CrearDatosPrincipalesRG","Home")';
    

</script>


<div class="card" style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:black">

                <div class="col-md-3 text-md-right">
                    <label class="control-label" style=";font-weight:bold;font-size:16px;">Fecha de Registro</label>
                </div>
                <div class="col-md-2">                   
                    <input type="date" id="fechaRegistro" name="fechaRegistro" class="form form-control" />
                </div>

                
                <div class="col-md-3 text-md-right">
                    <label class="control-label" style=";font-weight:bold;font-size:16px;">Dirección de Domicilio</label>
                </div>

            <br />

                <div class="col-md-3 text-md-right">
                    <label class="control-label">País</label>
                </div>
                  <div class="col-md-8">
                    <select id="pais" name="pais" class="form-control form-control-sm"  onchange="GetCiudadesPais();" required> 
                    </select>
                </div>

                 <div class="col-md-3 text-md-right">
                    <label class="control-label">Estado/Departamento</label>
                </div>
                  <div class="col-md-8">
                    <select id="estado" name="estado" class="form-control form-control-sm"  required> </select>
                </div>

                <div class="col-md-3 text-md-right">
                    <label class="control-label">Ciudad</label>
                </div>
                  <div class="col-md-8">
                    <input type="text" id="ciudad" name="ciudad" class="form form-control" />
                </div>


                 <div class="col-md-3 text-md-right">
                    <label class="control-label">Municipio/Provincia</label>
                </div>
                  <div class="col-md-8">
                    <input type="text" id="municipio_provincia" name="municipio_provincia" class="form form-control" />
                </div>

                 <div class="col-md-3 text-md-right">
                    <label class="control-label">Codigo Postal</label>
                </div>
                  <div class="col-md-8">
                    <input type="text" id="codigoPostal" name="codigoPostal" class="form form-control" />
                </div>

            
                 <div class="col-md-3 text-md-right">
                    <label class="control-label">Parroquia/UrbanizacionDistrito</label>
                </div>
                  <div class="col-md-8">
                    <input type="text" id="parroquiaDist" name="parroquiaDist" class="form form-control" />
                </div>

                
                 <div class="col-md-3 text-md-right">
                    <label class="control-label">Urbanizacion/Barrio/Sector/Conjunto</label>
                </div>
                  <div class="col-md-8">
                    <input type="text" id="urbanizacion" name="urbanizacion" class="form form-control" />
                </div>

                 <div class="col-md-3 text-md-right">
                    <label class="control-label">Avenida/Calle/Vereda/Manzana</label>
                </div>
                  <div class="col-md-8">
                    <input type="text" id="avenida" name="avenida" class="form form-control" />
                </div>

                 <div class="col-md-3 text-md-right">
                    <label class="control-label">Edificio/Casa</label>
                </div>
                  <div class="col-md-8">
                    <input type="text" id="edificioCasa" name="edificioCasa" class="form form-control" />
                </div>

            <div class="col-md-3 text-md-right">
                <label class="control-label">Piso</label>
                </div>
                  <div class="col-md-8">
                    <input type="text" id="piso" name="piso" class="form form-control" />
                </div>

                 <div class="col-md-3 text-md-right">
                    <label class="control-label">N°Apartamento/N°Casa</label>
                </div>
                  <div class="col-md-8">
                    <input type="text" id="apartamentoN" name="apartamentoN" class="form form-control" />
                </div>

                 <div class="col-md-3 text-md-right">
                    <label class="control-label">Punto de Referencia</label>
                </div>
                  <div class="col-md-8">
                    <input type="text" id="puntodeReferencia" name="puntodeReferencia" class="form form-control" />
                </div>
                  
                 <div class="col-md-3 text-md-right">
                    <label class="control-label">Telefono</label>
                </div>

                 <div class="form-group row col-md-12">

                <div class="col-md-1 text-md-left">
                    <input type="text" id="codigo" name="codigo" class="form form-control" placeholder="+58" />
                </div>

               <div class="col-md-2 text-md-right">
                    <input type="text" id="telefono" name="telefono" class="form form-control" placeholder="424-331-21-31"/>
                </div>


             </div>
                 

                <div class="col-md-3 text-md-right">
                    <label class="control-label">Telefono Alternativo</label>
                </div>

                <div class="form-group row col-md-12">


                  <div class="col-md-1 text-md-left">
                    <input type="text" id="codigo" name="codigo" class="form form-control" placeholder="+58"  />
                </div>

                 <div class="col-md-2 text-md-right">
                    <input type="text" id="telefonoAlternativo" name="telefonoAlternativo" class="form form-control" placeholder="424-331-21-31" />
                </div>

                 </div>


                <div class="col-md-4 text-md-right">
                    <label class="control-label">Correo Electrónico</label>
                </div>
                  <div class="col-md-4">
                    <input type="email" id="correo" name="correo" class="form form-control" placeholder="example@gmail.com" /> 
                </div>


            <div class="form-group row">
               
               
                <div class="col-md-6 text-md-left" style="">
                    <input type="reset" value="Atras" class="btn btn-danger form-control" onclick="" style="width:300px;" />
                </div>

                 <div class="col-md-6 tex-md-right">
                    <input type="button" value="Siguiente" class="btn btn-primary form-control" onclick="CrearDatosPrincipalesRG();" style="width:300px;" />
                </div>

            </div>

        </div>
    </div> 
</div>



