@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/jsHome/jsResponsableDeFamilia.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}


<div class="card" style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:Dimgray">

       

          <div class="col-md-3 text-md-right">
                <label class="control-label">Nombres</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="nombre" name="nombre" class="form form-control" />
             </div>


           <div class="col-md-3 text-md-right">
                <label class="control-label">Apellidos</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="apellido" name="apellido" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">Nacionalidad</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="nacionalidad" name="nacionalidad" class="form form-control" />
             </div>
             <br />
             
         <div class="col-md-12 text-left">

             <div class="item form-group row col-md-10">

               <div class="col-md-2">
               <label class="control-label">Documento</label>
              </div>
                <div class="col-md-3">
               <select id="sexo"name="sexo" class="form-control">
                         <option value="0" disabled  selected >Seleccione Documento...</option>
                         <option value="1">Cédula</option>
                         <option value="2">Pasaporte</option>  
                         <option value="3">Rif</option>  
                         <option value="4">Otro</option>  
                </select>
              </div>

               <div class="col-md-2">
                <label class="control-label">Numero</label>
              </div>

                <div class="col-md-3">
                <input type="text" id="numerodocument" name="numerodocument" class="form form-control" />
              </div>
             </div>

         </div>


          <div class="col-md-3 text-md-right">
                <label class="control-label">Lugar de Nacimiento</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="lugarnacimiento" name="lugarnacimiento" class="form form-control" />
             </div>

                  <div class="col-md-3 text-md-right">
                    <label class="control-label">Fecha de Nacimiento</label>
                </div>
                <div class="col-md-8">                   
                    <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form form-control" />
                </div>

         <div class="col-md-3 text-md-right">
                <label class="control-label">Edad</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="edad" name="edad" class="form form-control" />
             </div>


           <div class="col-md-8">
                <label class="control-label">Sexo</label>
          </div>
           <div class="col-md-8">
            <select id="sexo"name="sexo" class="form-control form-control-sm">
                         <option value="0" disabled  selected >Seleccione Sexo...</option>
                         <option value="1">Femenino</option>
                         <option value="2">Masculino</option>  
             </select>

             </div>
       

             <div class="col-md-8">
                <label class="control-label">Estado Civil</label>
          </div>
           <div class="col-md-8">
            <select id="sexo"name="sexo" class="form-control form-control-sm">
                         <option value="0" disabled  selected >Seleccione...</option>
                         <option value="1">Soltero (a)</option>
                         <option value="2">Casado (a)</option>  
                         <option value="3">Viudo(a)</option>  
                         <option value="4">Divorciado(a)</option>  
                         <option value="5">Union de echo estable</option>  
            </select>

             </div>

        <div class="col-md-8">
                <label class="control-label">Nivel de Instrucción</label>
          </div>
           <div class="col-md-8">
            <select id="sexo"name="sexo" class="form-control form-control-sm">
                         <option value="0" disabled  selected >Seleccione...</option>
                         <option value="1">Primaria</option>
                         <option value="2">Secundaria</option>  
                         <option value="3">Pre-Grado</option>  
                         <option value="4">Post-Grado</option>  
                         <option value="5">Iletrado</option>  
                         <option value="6">Otro/Especifique</option>  
                </select>

                
             <div class="col-md-12">
                <input type="text" id="especifiqueinstruccion" name="especifique" class="form form-control" />
             </div>

             </div>
 
                  <div class="col-md-3 text-md-right">
                <label class="control-label">Profesión u oficio </label>
          </div>


             <div class="col-md-8">
                <input type="text" id="profesión" name="profesión" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">Habilidades y Destreza</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="habilidades" name="habilidades" class="form form-control" />
             </div>

               <div class="col-md-8">
                <label class="control-label">Trabaja Actualmente</label>
          </div>
           <div class="col-md-8">
            <select id="sexo"name="sexo" class="form-control form-control-sm">
                         <option value="0" disabled  selected >Seleccione...</option>
                         <option value="1">Si</option>
                         <option value="2">No</option>  
                          
             </select>
              </div>


                 <div class="col-md-8">
                <label class="control-label">Habilidades y Destrezas</label>
          </div>

               <div class="col-md-8">
            <select id="sexo"name="sexo" class="form-control form-control-sm">
                         <option value="0" disabled  selected >Seleccione...</option>
                         <option value="1">Dependiente</option>
                         <option value="2">Independiente</option>  
                          
             </select>
              </div>

              <div class="col-md-8">
                <label class="control-label">Especifique el Tipo de Negocio Actual</label>
          </div>
           <div class="col-md-8">
            <select id="sexo"name="sexo" class="form-control form-control-sm">
                         <option value="0" disabled  selected >Seleccione...</option>
                         <option value="1">Formal</option>
                         <option value="2">Informal</option>  
             </select>

             </div>

        <div class="col-md-3 text-md-right">
                <label class="control-label">Medio de transporte usado para ir al trabajo</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="medio de transporte" name="medio de transporte" class="form form-control" />
             </div>

              <div class="col-md-8">
                <label class="control-label">¿Tiene Hijos?</label>
          </div>
           <div class="col-md-8">
            <select id="sexo"name="sexo" class="form-control form-control-sm">
                         <option value="0" disabled  selected >Seleccione...</option>
                         <option value="1">Si</option>
                         <option value="2">No</option>  
                          
             </select>
              </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">Nº de Hijos</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="n°hijos" name="n°hijos" class="form form-control" />
             </div>

                <div class="col-md-8">
                <label class="control-label">¿Tiene Alguna Discapacidad?</label>
          </div>
            <div class="col-md-8">
            <select id="discapacidad"name="discapacidad" class="form-control form-control-sm" onchange="    MostrarDiscapacidad();">
                         <option value="0" disabled  selected >Seleccione...</option>
                         <option value="1">Si</option>
                         <option value="2">No</option>  
                          
             </select>
              </div>
            
             
           <div class="col-md-8">
                <label class="control-label" id="lblTiposDiscapacidad" style="display:none;">Tipo Discapacidad</label>
          </div>
            <div class="col-md-8">
            <select id="tiposDiscapacidad"name="tiposDiscapacidad" class="form-control form-control-sm" style="display:none;">
                         <option value="0" disabled  selected >Seleccione Tipo ..</option>
                         <option value="1">Psiquica (Mental, Intelectual)</option>
                         <option value="2">Sensorial (Visual,Auditiva,Lenguaje)</option>  
                         <option value="3">Física(Miembros)</option>  
                         <option value="4">Mixta o PLuridefisiente</option>  
             </select>
              </div>
            


           <div class="col-md-8">
                <label class="control-label">¿Tiene Tratamiento o Terapia?</label>
          </div>
            <div class="col-md-8">
            <select id="sexo"name="sexo" class="form-control form-control-sm">
                         <option value="0" disabled  selected >Seleccione Tratamiento...</option>
                         <option value="1">Si</option>
                         <option value="2">No</option>  
                          
          
      

             </select>
              </div>
            
           <div class="col-md-8 ">
                <label class="control-label">¿Padece de Alguna Enfermedad?</label>
          </div>
             <div class="col-md-8">
            <select id="sexo"name="sexo" class="form-control form-control-sm">
                         <option value="0" disabled  selected >Seleccione...</option>
                         <option value="1">Si</option>
                         <option value="2">No</option>  
                          
             </select>
              </div>

          <div class="col-md-8 text-md-right"> 
                <label class="control-label">¿Tiene Tratamiento?</label>
          </div>

             <div class="col-md-8">
            <select id="sexo"name="sexo" class="form-control form-control-sm">
                         <option value="0" disabled  selected >Seleccione...</option>
                         <option value="1">Si</option>
                         <option value="2">No</option>  
                          
             </select>
              </div>


             <div class="form-group row">
                <div class="col-md-6 text-md-left" style="">
                    <input type="reset" value="Atras" class="btn btn-danger form-control" onclick="" style="width:300px;" />
                </div>
                 <div class="col-md-6 tex-md-right">
                    <input type="button" value="Siguiente" class="btn btn-success form-control" onclick=""style="width:300px;" />
                </div>
            </div>






        </div>
    </div> 
</div>