@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/jsHome/jsRegistro.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}


<div class="card" style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:dimgray">

       

          <div class="col-md-3 text-md-right">
                <label class="control-label">Nombres</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="nombre" name="nombre" class="form form-control" />
             </div>


           <div class="col-md-3 text-md-right">
                <label class="control-label">Apellidos</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="apellido" name="apellido" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">Nacionalidad</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="nacionalidad" name="nacionalidad" class="form form-control" />
             </div>


               <div class="col-md-3 text-md-right">
                <label class="control-label">Tipo de documento de Identidad</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="tipodocument" name="tipodocument" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">Numero de Documento</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="numerodocument" name="numerodocument" class="form form-control" />
             </div>

          <div class="col-md-3 text-md-right">
                <label class="control-label">Lugar de Nacimiento</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="lugarnacimiento" name="lugarnacimiento" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">Feche de Nacimiento</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="fechenacimiento" name="fechenacimiento" class="form form-control" />
             </div>

         <div class="col-md-3 text-md-right">
                <label class="control-label">Edad</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="edad" name="edad" class="form form-control" />
             </div>

         <div class="col-md-3 text-md-right">
                <label class="control-label">Sexo</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="sexo" name="Id" class="form form-control" />
             </div>

          <div class="col-md-3 text-md-right">
                <label class="control-label">Estado Civil</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="estadocivil" name="estadocivil" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">Nivel de Instrucción</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="niveldeinstrucción" name="niveldeinstrucción" class="form form-control" />
             </div>


               <div class="col-md-3 text-md-right">
                <label class="control-label">Profesión u oficio </label>
          </div>
             <div class="col-md-8">
                <input type="text" id="profesión" name="profesión" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">Habilidades y Destreza</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="habilidades" name="habilidades" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">¿Trabajas Actualmente?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="¿trabaja?" name="¿trabaja?" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">¿Cual es su Condicion Laboral?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="condicionlaboral" name="condicionlaboral" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">Especifique el tipo de negocio actual</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="Id" name="Id" class="form form-control" />
             </div>

        <div class="col-md-3 text-md-right">
                <label class="control-label">Medio de transporte usado para ir al trabajo</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="medio de transporte" name="medio de transporte" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">¿Tiene Hijos?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="tienehijos?" name="tienehijos?" class="form form-control" />
             </div>

               <div class="col-md-3 text-md-right">
                <label class="control-label">¿Cuantos hijos tiene?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="n°hijos" name="n°hijos" class="form form-control" />
             </div>


          <div class="col-md-3 text-md-right">
                <label class="control-label">¿Tiene Alguna Discapacidad?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="discapacidad" name="discapacidad" class="form form-control" />
             </div>


           <div class="col-md-3 text-md-right">
                <label class="control-label">¿Tiene Tratamiento o Terapia?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="tratamiento" name="tratamiento" class="form form-control" />
            </div>

            
           <div class="col-md-3 text-md-right">
                <label class="control-label">¿Padece de Alguna Enfermedad?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="enfermadad" name="enfermedad" class="form form-control" />
            </div>

          <div class="col-md-3 text-md-right"> 
                <label class="control-label">¿Tiene Tratamiento?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="tratamientoenfermedad" name="tratamientoenfermedad" class="form form-control" />
            </div>

          <div class="col-md-3 text-md-right">
                <label class="control-label">¿Cuantas Personas Permanece Bajo su Cargo Y Habita Con Ud?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="cantidadpersonas" name="cantidadpersonas" class="form form-control" />
            </div>

         <div class="col-md-3 text-md-right">
                <label class="control-label">¿Los Niños Adolescente en Edad Escolar, Estudian?</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="estudianlosniños" name="estudianlosniños" class="form form-control" />
            </div>


             <div class="form-group row">
                <div class="col-md-6 text-md-left" style="">
                    <input type="reset" value="Atras" class="btn btn-danger form-control" onclick="" style="width:300px;" />
                </div>
                 <div class="col-md-6 tex-md-right">
                    <input type="button" value="Siguiente" class="btn btn-success form-control" onclick=""style="width:300px;" />
                </div>
            </div>






        </div>
    </div> 
</div>