@{
   Layout = "~/Views/Shared/_LayoutNew.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/jsHome/jsResponsableDeFamilia.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}


<div class="card" style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:dD8CDCA">

       
           


            <div class="col-md-8 text-md-right"> 

                <div> 
              
                <label class="control-label">En cuales de estas ayudas considera Ud. que debe ser incluido el encuestado:</label>
               
              </div>

                 <br />

              <div class="col-md-12">
              <input type="checkbox" name="vivienda" /><label class="control-label">Vivienda</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkbox" name="alimentacion" /><label class="control-label">Alimentación</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkbox" name="salud" /><label class="control-label">Salud</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkbox" name="educación" /><label class="control-label">Educación</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkbox" name="emprendimiento" /><label class="control-label">Emprendimiento</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkbox" name="comunidad" /><label class="control-label">Comunidad</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            </div>
      
            <br />
          
             <div class="col-md-12 text-md-right">
  

                <label class="control-label">Nombres y Apellidos de gestor Humanitario</label>

 
          </div>


             <div class="col-md-8">

        
                <input type="text" id="nombreyapellido" name="nombreyapellido" class="form form-control" placeholder="Nombres y Apellidos Completos"/>

                 
             </div>

               <br />

           <div class="col-md-3 text-md-right">
                <label class="control-label">Nº de Identidad del G.H</label>
          </div>
             <div class="col-md-8">
                <input type="text" id="nºidentidad" name="nºidentidad" class="form form-control" />
             </div>

               <br />

             <div class="col-md-3 text-md-right">
                    <label class="control-label">Telefono del G.H</label>
                </div>

                <div class="col-md-3 text-md-right">
                    <label class="control-label">Telefono</label>
                </div>

                <div class="form-group row col-md-12">

                    <div class="col-md-2 text-md-left">
                        <input type="text" id="codigo" name="codigo" class="form form-control" placeholder="+58" />
                    </div>

                    <div class="col-md-3 text-md-right">
                        <input type="text" id="telefono" name="telefono" class="form form-control" placeholder="424-331-21-31" />
                    </div>


                </div>
               <br />

                  <div class="col-md-6 tex-md-rigth">
                    <input type="button" value="Enviar" class="btn btn-success form-control" onclick=""style="width:300px;" />
                </div>

</div> 







<

        </>
    </div> 
</div> 